<p>Share on:</p>
<a href="javascript:window.open('https://facebook.com/sharer.php?t=<%= object.title %>&amp;u=<%= url_for(:only_path => false) %>', '_blank', 'width=800', 'height=500', 'top=200', 'left=300');void(0);">Facebook</a>
<a href="javascript:window.open('https://twitter.com/intent/tweet?text=<%= object.title %>&amp;url=<%= url_for(:only_path => false) %>', '_blank', 'width=800', 'height=500', 'top=200', 'left=300');void(0);">Twitter</a>
