<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<% @projects.each do |project| %>
  <div><%= link_to "#{project.title} - #{project.created_at.strftime("%D")}", project_path(project) %></div>
<% end %>
